body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #D9A13B;
}

.prod{
    height: 300px;
    border-radius: 25px;
}


.button {
    margin-bottom: 40px;
    padding: 10px;
    border: #D9A13B;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #D9A13B;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .button:hover {
    box-shadow: 0 0 10px 0px #D9A13B;
  }

.ver{
    display: flex;
    justify-content: space-around;
}

.verl2{
    display: flex;
    justify-content: space-around;
}

.produtos11, .produtosl12, .produtosl13, .produtosl14, .produtosl15, .produtosl16, .produtosl17, .produtosl18, .produtosl19, .produtosl20, .produtos, .produtosl2, .produtosl3, .produtosl4, .produtosl5, .produtosl6, .produtosl7, .produtosl8, .produtosl9, .produtosl10, .produtos21, .produtosl22, .produtosl23, .produtosl24, .produtosl25, .produtosl26, .produtosl27, .produtosl28, .produtosl29, .produtosl30 {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
}


footer{
    background-color: #D9A13B;
}

.button1{
    margin-top: 150px;
    margin-right: 50px;
}

.tdescricao{
    margin-top: 60px;
    margin-right: 500px;
}

.descricao{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.preco{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: bold;
    color: #D9A13B;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    font-size: 40px;
}

.desc{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: line-through;
}

.inicio{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    transition: 0.5s;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.inicio:hover{
    box-shadow: 0 0 10px 0px #97722d;
}

.p1{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 90%;
    height: auto;
    border-radius: 20px;
}

.zap{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: white;
    height: 65px;
    width: 365px;
    padding-bottom: 30px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background-color: #1FA65A;
    cursor: pointer;
}

.zapzap{

    display: flex;
    margin: 0;
}

.zapp{
    font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
}

a{
    text-decoration: none;
}

.pagtoo{
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.pagto{
    margin-top: 30px;
    margin-left: auto;
}

.descc{
    background-color: rgb(236, 236, 236);
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.descricaof{ 
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.metodpg{
    margin-left: 23px;
}

* { margin: 0; padding: 0; }

.slider {
    display: block;
    height: 150px;

    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    border-radius: 15px;
    margin-left: 20px;
    height: 90%;
    width: 90%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    margin-top: 100px;
    background-color: #97722d;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    margin-bottom: -40px;
    left: 50px;
}

.slider li:nth-child(2) label {
    margin-bottom: -40px;
    left: 100px;
}

.slider li:nth-child(3) label {
    margin-bottom: -40px;
    left: 150px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.info{
    margin-top: 250px;
}

@media (max-width: 1200px) {
    .f1 {
        margin-left: 0;
    }

    .f2 {
        margin-left: 0;
    }

    .inicio {
        margin-left: auto;
    }
}

@media (max-width: 992px) {
    header {
        flex-direction: column;
    }

    .inicio {
        margin-left: 0;
    }

    .prod {
        height: 250px;
    }

    .button1 {
        margin-top: 50px;
        margin-right: 0;
    }

    .tdescricao {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .prod {
        height: 200px;
    }

    .preco {
        font-size: 30px;
    }

    .desc {
        font-size: 16px;
    }

    .button1 {
        margin-top: 30px;
    }

    .tdescricao {
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .logo img, .arranjoheader img, .inicio {
        height: 50px;
        width: 50px;
    }

    .prod {
        height: 150px;
    }

    .preco {
        font-size: 24px;
    }

    .desc {
        font-size: 14px;
    }

    .button {
        padding: 5px;
        font-size: 14px;
    }
}
